<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/custom.css'/>
</head>
<body>
<!-- Header -->
<header class="sticky-top">
    <%- include("./partials/header.ejs") %>
</header>
<!-- Main -->

<main class="min-vh-100">
    <h1 class="text-center m-5">Oops...</h1>
    <h2 class="text-center m-5">Got an internal problem :(</h2>
</main>

<footer class="fixed-bottom py-3 mt-4 our-gradient">
    <%- include("./partials/footer.ejs") %>
</footer>
</body>
</html>
